In [3]:
import pandas as pd
import numpy as np

In [26]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv', sep = '\t')
print(chipo)

    country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0                             Afghanistan,0,0,0,0.0,AS
1                             Albania,89,132,54,4.9,EU
2                               Algeria,25,0,14,0.7,AF
3                          Andorra,245,138,312,12.4,EU
4                              Angola,217,57,45,5.9,AF
..                                                 ...
188                         Venezuela,333,100,3,7.7,SA
189                             Vietnam,111,2,1,2.0,AS
190                                 Yemen,6,0,0,0.1,AS
191                              Zambia,32,19,4,2.5,AF
192                            Zimbabwe,64,18,4,4.7,AF

[193 rows x 1 columns]

In [23]:
chipo.head(193)

    country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0                             Afghanistan,0,0,0,0.0,AS
1                             Albania,89,132,54,4.9,EU
2                               Algeria,25,0,14,0.7,AF
3                          Andorra,245,138,312,12.4,EU
4                              Angola,217,57,45,5.9,AF
..                                                 ...
188                         Venezuela,333,100,3,7.7,SA
189                             Vietnam,111,2,1,2.0,AS
190                                 Yemen,6,0,0,0.1,AS
191                              Zambia,32,19,4,2.5,AF
192                            Zimbabwe,64,18,4,4.7,AF

[193 rows x 1 columns]

In [10]:
chipo.shape[0]

193

In [11]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 1 columns):
country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent    193 non-null object
dtypes: object(1)
memory usage: 1.6+ KB

In [12]:
chipo.shape[1]

1

In [13]:
chipo.columns

Index(['country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent'], dtype='object')

In [14]:
chipo.index

RangeIndex(start=0, stop=193, step=1)